* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border-style: solid;
    border-radius: 10px;
    width: 230px;
    margin-left: 43%;
    word-break: break-all;
}

form h1 {
    margin: 15px 0;
    margin-left: 5px;
}

form input {
    display: block;
    margin-bottom: 15px;
    padding: 5px 5px;
    margin-left: 5px;
}

form button {
    margin: 5px 5px;
    padding: 7px;
}
ul {
    margin-top: 15px;
}
ul li {
    margin-left: 15px;
    list-style: none;
    width: 150px;
    margin-top: 15px;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
}

.checked {
    margin-left: 113px;
    margin-top: -15px;
}

.teste {
    text-decoration: line-through;
    background-color: green;
    border-radius: 10px;
}

